<template name="applicationLayout">


	<body>
		<header>
			<nav style='background-color: var(--main-header-color)' class="navbar navbar-expand-lg navbar-light">
				{{> searchBar}}
			</nav>
		</header>

		<main>
			{{> yield}}
			<svg id='loadingWheel' class="spinner hidden" viewBox="0 0 50 50">
				<circle class="path" cx="25" cy="25" r="20" fill="none" stroke-width="5"></circle>
			</svg>
		</main>

		{{> yield "footer"}}
	</body>


</template>

<template name='404-NOT-FOUND'>
	<div class='container d-flex justify-content-center align-items-center flex-column'
		style='height: 100%; text-align: center;'>
		<h1 style='font-size: 10em;'>404</h1>
		<p style='color: grey; font-size: 1.5em;'>Cette page n'existe pas</p>
		<a href="/" style='font-size: 1em;'>Vous pouvez revenir à la page d'accueil en cliquant ici.</a>
	</div>
</template>