<template name='drugsList'>
	<h1>Médicaments dans ma pharmacie</h1>
	<button id='clearDrugs'>{{deleteButtonName}}</button>
	<ul id='drugList_ul'>
		{{#each drugs}}
			{{> drug}}
		{{/each}}
	</ul>
</template>

<template name='drug'>
	<li>
		<div>
			<div class='drug_container' style='background-color: {{bgColor}};'>
				{{title}}
			</div>
			{{#if deleteButtonIsVisible}}
				<button class='drug_remove btn btn-danger btn-sm' style='display: inline-block;'>Supprimer</button>
			{{/if}}
		</div>
	</li>
</template>