<template name="drugData">
	<button id='backButton'>Back</button>
	{{#if isNotAlreadyInPharmacy}}
	<button id='addDrugToPharmacyButton'>Ajouter à ma pharmacie</button>
	{{/if}}
	<div>
		<h1>{{drugData.title}}</h1>
		<div class="container">
			<div class="row">
				<div class="col-m">
					Composition: <br>
					<ul>
						{{#each drugData.composition}}
						{{> component}}
						{{/each}}
					</ul>
				</div>
				{{#if hasImage}}
				<div class="col-m">
					<img src="{{drugData.imgpath}}" alt="image" class='drugData_image'>
				</div>
				{{/if}}
			</div>
		</div>

		<div>

			<!-- notice formatting using spacebars -->
			<div class='drugData_noticeContainer'>
				{{#if hasNotice}}

				{{#each subarray in drugData.notice}}
				{{#if isOfTwoLastFromIndex @index}}
				{{#each text in subarray}}
				<p class='drugData_noticeTwoLast'>{{text}}</p>
				{{/each}}
				{{else}}
				<div>
					{{#each text in subarray}}
					{{#if isTitleFromIndex @index }}
					<h2>{{text}}</h2>
					{{else}}
					<p>{{text}}</p>
					{{/if}}
					{{/each}}
				</div>
				{{/if}}
				{{/each}}

				{{else}}
				<p>Nous n'avons pas trouvé de notice d'emballage pour ce médicament.</p>
				{{/if}}
			</div>

		</div>
	</div>
</template>

<template name='component'>
	<li>{{component}}</li>
</template>