<template name='drugTrt'>
    <div class="container" style='text-align: center;'>
        <div class="page-header">
            <h1>Mes Traitements</h1>
        </div>
        <div style='margin-top: 10vh;'>
            <div class="row text-left" style='margin-left: 5px; width: 290px;'>
                {{#each weekDays}}
                <div class='d-flex col wkd justify-content-center'>
                    {{> day}}
                </div>
                {{/each}}
            </div>
            <div class='container' style='margin-top: 5vh;'>
            {{#each timeStamp}}
            <div class='row' style='padding-bottom: 30px'>
                    {{>time}}
            </div>
            {{/each}}
            </div>
        </div>
    </div>

</template>

<template name="day">
    {{day}}
</template>

<template name='time'>
    {{time}}
</template>