<template name="drugData">
	<p>Récupérer les données d'un médicament (hardcoded pour le moment)</p>
	<p>https://compendium.ch/prod/dafalgan-cpr-500-mg/fr <button id='launchScraping'>Go</button></p>
	<p>Rechercher un médicament dans la base de données de compendium</p>
	<!-- <div>
		<h1>{{title}}</h1>

		<div>
			Composition: <br>
			<ul>
				{{#each composition}}
					{{component}}
				{{/each}}
			</ul>

			<div class='noticeContainer'>
				{{notice}}
			</div>

		</div>
	</div> -->
</template>