<template name="drugData">
	<div class='container-fluid'>
		<div style='padding: 1em 0 1em 0;'>
			<button id='backButton' class='btn btn-light'>Back</button>
			<div style='float: right'>
				{{#if isNotAlreadyInPharmacy}}
				<button id='addDrugToPharmacyButton' class='btn btn-info'>Ajouter à ma pharmacie</button>
				{{/if}}
				{{#unless isNotAlreadyInPharmacy}}
				<button id='goToTreatment' class='btn btn-info'>Traitement</button>
				<button id='moveCategory' class='btn btn-info'>Déplacer</button>
				{{/unless}}
			</div>

		</div>

		<div class="accordion" id='drugData_accordion'>
			<div class="card">
				<div class="card-header" id="headingTitre" data-toggle="collapse" href="#collapseTitre">
					<h5 class="mb-0">
						<button class="btn btn-link" type="button" data-toggle="collapse" href="#collapseTitre" aria-expanded="false"
						 aria-controls="collapseTitre">
							{{displayTitle}}
						</button>
					</h5>
				</div>
				<div id="collapseTitre" class="collapse show" aria-labelledby="headingTitre" data-parent="#drugData_accordion">
					<div class="card-body">
						<div class='d-flex justify-content-center'>
							{{#if hasImage}}
							<img src={{imgpath}} alt="image" class='drugData_image'>
							{{else}}
							Image indisponible.
							{{/if}}
						</div>
						<div>
							Fabricant{{#if hasFirm}}: {{firm}}{{else}} indisponible.{{/if}}
						</div>
						{{#if isExpired}}
							<div style='color: rgb(165, 51, 51); font-weight: bold;'>
								La date d'expiration de ce médicament est dépassée.
							</div>
						{{else}}
							<div>
								Ce médicament expire le <span style='font-weight: bold;'>{{getExp}}</span>.
							</div>
						{{/if}}
					</div>
				</div>
			</div>

			<div class="card">
				<div class="card-header" id="headingComposition" data-toggle="collapse" href="#collapseComposition">
					<h5 class="mb-0">
						<button class="btn btn-link collapsed" type="button" data-toggle="collapse" href="#collapseComposition"
						 aria-expanded="true" aria-controls="collapseComposition">
							Composition
						</button>
					</h5>
				</div>
				<div id="collapseComposition" class="collapse" aria-labelledby="headingComposition" data-parent="#drugData_accordion">
					<div class="card-body">
						{{#if hasComposition}}
						Composition: <br>
						<ul>
							{{#each composition}}
							{{> component}}
							{{/each}}
						</ul>
						{{else}}
						<span>Composition indisponible.</span>
						{{/if}}
					</div>
				</div>
			</div>

			<div class="card">
				<div class="card-header" id="headingEmballages" data-toggle="collapse" href="#collapseEmballages">
					<h5 class="mb-0">
						<button class="btn btn-link collapsed" type="button" data-toggle="collapse" href="#collapseEmballages"
						 aria-expanded="false" aria-controls="collapseEmballages">
							Emballages
						</button>
					</h5>
				</div>
				<div id="collapseEmballages" class="collapse" aria-labelledby="headingEmballages" data-parent="#drugData_accordion">
					<div class="card-body">
						<div class='container'>
							{{#if hasPackagings}}
							{{#each packagings}}
							<div class='row'>
								<div class='col'>{{quantity}}</div>
								<div class='col'>{{price}} CHF</div>
							</div>
							{{/each}}
							{{else}}
							Emballages indisponibles.
							{{/if}}
						</div>
					</div>
				</div>
			</div>

			<div class="card">
				<div class="card-header" id="headingNotice" data-toggle="collapse" href="#collapseNotice">
					<h5 class="mb-0">
						<button class="btn btn-link collapsed" type="button" data-toggle="collapse" href="#collapseNotice" aria-expanded="false"
						 aria-controls="collapseNotice">
							Notice d'emballage
						</button>
					</h5>
				</div>
				<div id="collapseNotice" class="collapse" aria-labelledby="headingNotice" data-parent="#drugData_accordion">
					<div class="card-body">
						<div class='drugData_notice'>
							{{#if hasNotice}}
							<!-- HTML injection from compendium.ch -->
							{{{notice}}}
							{{else}}
							<p>Nous n'avons pas trouvé de notice d'emballage pour ce médicament.</p>
							{{/if}}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<template name='component'>
	<li>{{component}}</li>
</template>