<template name='drugCategories'>
		<div class='d-flexjustify-content-center'><h1 style='text-align: center;'>Ma Pharmacie</h1></div>
	<nav class="navbar navbar-light">
		<div class='ml-auto'>
			<button id='drugCategories_addCategory' class='btn btn-info'>+</button>
			<button id='drugCategories_remove' class='btn btn-info'>-</button>
		</div>
	</nav>
	<div>
		{{#each categories}}
		{{> category}}
		{{/each}}
	</div>
</template>

<template name='category'>
	<div style='width: 100%;'>
		<div class='category_container item-container d-flex' style='height: 4em;'>
			<div class='mr-auto align-middle' style='vertical-align: middle; line-height: 2em;'>{{name}}</div>
			<div class='align-middle' style='vertical-align: middle; line-height: 2em;'>{{drugsInCategory}}</div>
			{{#if deleteEnabled}}
			<img class='category_remove deleteButton align-middle' src='/images-svg/supp_bouton.svg' alt='Supprimer'>
			{{/if}}
		</div>

	</div>
</template>