<template name='drugsList'>
	<div class='container-fluid' style='position: relative;'>
		<h1>{{name}}</h1>
		<button id='clearDrugs' class='btn btn-sm btn-danger' style='position: absolute; right: 15px; top: 15px;'>{{deleteButtonName}}</button>
		<ul id='drugList_ul'>
			{{#each drugs}}
				{{> drug}}
			{{/each}}
		</ul>
	</div>
</template>

<template name='drug'>
	<li>
		<div>
			<div class='drug_container'>
				{{showcaseTitle}}
			</div>
			{{#if deleteEnabled}}
				<img src='/images-svg/supp_bouton.svg' class='drug_remove deleteButton' style='display: inline-block;'>
			{{/if}}
		</div>
	</li>
</template>