<template name='helpPage'>
	{{> helpBar}}
	<div class='container-fluid'>
		{{#if pageIs 'contacts'}}
		{{> contactList}}
		{{else}}
		{{#if pageIs 'parameters'}}
		<!-- insert parameters subpage template here -->
		paramètres
		{{else}}
		{{#if pageIs 'nearby-stores'}}
		<!-- insert nearby-stores subpage template here -->
		{{> stores}}
		{{else}}
		{{#if pageIs 'faq'}}
		<!-- insert fàq subpage template here -->
		fàq
		{{else}}
		{{#if pageIs 'support'}}
		{{> supportUs}}
		{{/if}}
		{{/if}}
		{{/if}}
		{{/if}}
		{{/if}}
	</div>
</template>

<template name='contactList'>
	<table class="table table-hover table-bordered">
		<thead>
			<tr>
				<th scope="col">#</th>
				<th scope="col">Nom</th>
				<th scope="col">Téléphone</th>
				{{#if deleteEnabled}}
				<th></th>
				{{/if}}
			</tr>
		</thead>
		<tbody>
			{{#each contacts}}
			<tr>
				<th scope="row">{{plusOne @index}}</th>
				<td>{{place}}</td>
				<td>{{phone}}</td>
				{{#if deleteEnabled}}
				<td>
					<img src='/images-svg/supp_bouton.svg' class='contacts_remove deleteButton'
						style='display: inline-block;'>
				</td>
				{{/if}}
			</tr>
			{{/each}}
		</tbody>
	</table>
	<button id='contacts_add' class='btn btn-sm btn-primary'>Ajouter</button>
	<button id='clearContacts' class='contact_remove btn btn-sm btn-danger'>{{deleteButtonName}}</button>

</template>

<template name='helpBar'>
	<nav class="navbar navbar-light" style="background-color: rgb(212, 212, 212);">
		{{#each buttons}}
		<a href="/help/{{path}}" class="badge badge-success">{{name}}</a>
		{{/each}}
	</nav>
</template>

<template name='stores'>
	<table class="table table-hover table-bordered">
		<thead>
			<tr>
				<th scope="col">#</th>
				<th scope="col">Nom</th>
				<th scope="col">Téléphone</th>
				<th scope="col">Addresse</th>
				{{#if deleteEnabled}}
				<th></th>
				{{/if}}				
			</tr>
		</thead>
		<tbody>
			{{#each pharmacies}}
			<tr>
				<th scope="row">{{plusOne @index}}</th>
				<td>{{name}}</td>
				<td>{{tel}}</td>
				<td>{{address}}</td>
				{{#if deleteEnabled}}
				<td>
					<img src='/images-svg/supp_bouton.svg' class='pharmacies_remove deleteButton'
						style='display: inline-block;'>
				</td>
				{{/if}}				
			</tr>
			{{/each}}
		</tbody>
	</table>
	<button id='stores_add' class='btn btn-sm btn-primary' alt='Ajouter'>Ajouter</button>
	<button id='clearPharmacies' class='pharmacy_remove btn btn-sm btn-danger'>{{deleteButtonName}}</button>	
</template>

<template name='supportUs'>
	<h2 class="text-center">L'équipe de développement de Meditake</h2>
	<table class="table table-hover">
		<thead class="thead-dark">
		  <tr>
			<th scope="col">Nom</th>
			<th scope="col">Nom de Famille</th>
			<th scope="col">Email</th>
		  </tr>
		</thead>
		<tbody>
		  <tr>
			<td>Florian</td>
			<td>Rieder</td>
			<td>florian.rieder@unil.ch</td>
		  </tr>
		  <tr>
			<td>Pedro</td>
			<td>Tome</td>
			<td>pedro.tome@unil.ch</td>
		  </tr>
		  <tr>
			<td>Amirhossein</td>
			<td>Asadizanjani</td>
			<td>amirhossein.asadizanjani@unil.ch</td>
		  </tr>
		  <tr>
			<td>Célia</td>
			<td>Riva</td>
			<td>celia.riva@unil.ch</td>
		  </tr>		  
		</tbody>
	</table>
</template>