<template name='helpPage'>
	{{> helpBar}}
	<div class='container-fluid'>
		{{#if pageIs 'contacts'}}
			{{> contactList}}
		{{else}}
		{{#if pageIs 'stores'}}
			{{> stores}}
		{{else}}
		{{#if pageIs 'support'}}
			{{> supportUs}}
		{{/if}}
		{{/if}}
		{{/if}}
	</div>
</template>

<template name='contactList'>
	<div class="table-responsive">
	<table class="table table-hover table-bordered table-sm">
		<thead>
			<tr>
				<th scope="col">#</th>
				<th scope="col">Nom</th>
				<th scope="col">Téléphone</th>
				{{#if deleteEnabled}}
				<th></th>
				{{/if}}
			</tr>
		</thead>
		<tbody>
			{{#each contacts}}
			<tr>
				<th scope="row">{{plusOne @index}}</th>
				<td>{{place}}</td>
				<td>{{phone}}</td>
				{{#if deleteEnabled}}
				<td>
					<img src='/images-svg/supp_bouton.svg' class='contacts_remove deleteButton'
						style='display: inline-block;'>
				</td>
				{{/if}}
			</tr>
			{{/each}}
		</tbody>
	</table>
	</div>
	<button id='contacts_add' class='btn btn-sm btn-primary'>Ajouter</button>
	<button id='clearContacts' class='contact_remove btn btn-sm btn-danger'>{{deleteButtonName}}</button>

</template>

<template name='helpBar'>
	<nav class="navbar navbar-light" style="background-color: rgb(212, 212, 212);">
		{{#each buttons}}
		<a href="{{path}}" class="badge badge-success">{{>helpButton}}</a>
		{{/each}}
	</nav>
</template>

<template name="helpButton">
		<button class='helpButton_button justify-content-center'>
			<img src={{imgsrc}} alt={{name}} class='align-middle' style="height: 32px; width: 32px">
		</button>
	</template>
	
<template name='stores'>
	<div class="table-responsive">
	<table class="table table-hover table-bordered table-sm">
		<thead>
			<tr>
				<th scope="col">#</th>
				<th scope="col">Nom</th>
				<th scope="col">Téléphone</th>
				<th scope="col">Addresse</th>
				{{#if deleteEnabled}}
				<th></th>
				{{/if}}				
			</tr>
		</thead>
		<tbody>
			{{#each pharmacies}}
			<tr>
				<th scope="row">{{plusOne @index}}</th>
				<td>{{name}}</td>
				<td>{{tel}}</td>
				<td>{{address}}</td>
				{{#if deleteEnabled}}
				<td>
					<img src='/images-svg/supp_bouton.svg' class='pharmacies_remove deleteButton'
						style='display: inline-block;'>
				</td>
				{{/if}}				
			</tr>
			{{/each}}
		</tbody>
	</table>
	</div>
	<button id='stores_add' class='btn btn-sm btn-primary' alt='Ajouter'>Ajouter</button>
	<button id='clearPharmacies' class='pharmacy_remove btn btn-sm btn-danger'>{{deleteButtonName}}</button>	
</template>

<template name='supportUs'>
	<h4 class="text-center">L'équipe de développement de Medintake</h4>
	<div class="table-responsive">
	<table class="table table-hover table-sm">
		<thead class="thead-dark">
		  <tr>
			<th scope="col" class="text-center">Prénom</th>
			<th scope="col" class="text-center">Nom</th>
			<th scope="col" class="text-center">Email</th>
		  </tr>
		</thead>
		<tbody>
		  <tr>
			<td>Florian</td>
			<td>Rieder</td>
			<td>florian.rieder@unil.ch</td>
		  </tr>
		  <tr>
			<td>Pedro</td>
			<td>Tome</td>
			<td>pedro.tome@unil.ch</td>
		  </tr>
		  <tr>
			<td>Amirhossein</td>
			<td>Asadizanjani</td>
			<td>amirhossein.asadizanjani@unil.ch</td>
		  </tr>
		  <tr>
			<td>Célia</td>
			<td>Riva</td>
			<td>celia.riva@unil.ch</td>
		  </tr>		  
		</tbody>
	</table>
	</div>
	<h5 class="text-left">Technologie</h5>
	<p class="text-left">Medintake utilise le framework Meteor.js 1.8.1 avec Cordova</p>
	<h6 class="text-left">Librairies :</h6>
	<li class="text-left">Bootstrap (CSS)</li>
	<li class="text-left">Sweet Alert 2 (boîtes de dialogues)</li>
	<li class="text-left">Puppeteer (web scraping)</li>
	<li class="text-left">QuaggaJS (scan de codes barre)</li>
	<li class="text-left" style="margin-bottom: 16px">Iron:Router (routes)</li>
	<h6 class="text-left">Plugins Cordova :</h6>
	<p class="text-left">cordova-plugin-camera (caméra mobile) et cordova-plugin-android-permissions (permissions caméra mobile)</p>
	<p class="text-left">Ce programme est un logiciel gratuit. Copyright © 2019</p>
</template>