<template name='profile'>
	<div class='d-flex justify-content-center vertical-center'>
		<div id='profile_container'>
			<ul class='profileList center'>
				{{#each fields}}
				<li class='profileListItem'>
					{{#if getDisplay}}
					<input type="text" class='field_textInput' placeholder={{fieldName}} name={{fieldName}}
						id={{fieldId}} value={{getProfileField @index}}>
					{{else}}
					<p class='center lead profileElement'>{{getProfileField @index}}</p>
					{{/if}}
				</li>
				{{/each}}
			</ul>
		</div>
		
	</div>
	<div class='d-flex justify-content-center'>
			{{#if getDisplay}}
			<button id="confirmButton" class='btn btn-success'>Valider</button>
			{{else}}
			<button id="modifyButton" class='btn btn-primary'>Modifier</button>
			{{/if}}
	</div>
</template>