<template name='profile'>
    <div id='profile_container'>
            <input type="file" style="visibility:hidden;width:1px" accept="image/gif, image/jpeg, image/png" class="profilePhotoFile">
            <input type="button" id="btnEditPhoto" value="Edit Photo" class="btn btn-primary" style="width:160px"/>
            
            <div class="modal fade" id="cropper-modal">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-body">
                    <div id="cropper">
                      <img src="" alt="Picture">
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button class="btn btn-primary" id="btnSavePhoto">Save</button>
                    <button class="btn btn-default" id="btnCancel">Cancel</button>
                  </div>
                </div>
              </div>
            </div>
        <ul>
            {{#each fields}}
                {{> field}}
            {{/each}}
        </ul>
    </div>
</template>

<template name='field'>
<li>
    {{fieldName}} 
    <input type="text" class='field_textInput'>
    <button>Valider</button>
</li>
</template>