<template name='searchBar'>
    <div class='searchBar_container'>
        <input type="text" placeholder ="Entrez le nom de votre médicament" class="searchBar_searchSquare" value="{{searchQuery}}">
		<div class="searchBar_searchButton">
			<img src="/images/search_icon.png" alt="Rechercher" class='searchBar_searchIcon'>
		</div>
		
	</div>

</template>

<template name='searchPage'>
	{{>searchBar}}
	<div class='searchResults_container'>
		<ul class='searchResults_ul'>
			{{#each results}}
				{{> result}}
			{{/each}}
		</ul>
	</div>
	{{#if hasResults}}
		<div class='searchResults_numberDisplay'>Nous avons trouvé {{numberOfResults}} resultats.</div>
	{{/if}}
	<div></div>
</template>

<template name='result'>
	<li class='result_li'>
		<div class='result_container'>
			<h3 class='result_title'>{{title}}</h3>
			<p class='result_subtitle'>{{subtitle}}</p>
			<div class='result_buttonsContainer'>
				<button class='result_add'>Ajouter</button>
				<button class='result_inspect'>Inspecter</button>
			</div>
		</div>
	</li>
</template>