:root {
	/* define global css variables */
	--main-header-color: #5abb85;
	--main-border-color: #4ca876;
}

body {
	margin: 0px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	background-color: rgba(236, 236, 236) !important;
}

* {
	box-sizing: border-box;
}

h1 {
	font-size: 18px;
	font-weight: bold;
}

h2 {
	font-size: 16px;
	font-weight: bold;
}

header {
	height: 50px;
	padding: 0;
	padding-left: 10px;
	width: 100%;
	font-size: 28px;
	color: white;
	background-color: var(--main-header-color);
	z-index: 2;
	/* vertically center items contained in the header (logo) */
	display: flex;
	align-items: center;
}

footer {
	height: 60px;
	width: 100%;
	background-color: var(--main-header-color);
	z-index: 2;
	padding: 0;
}

#body_headerLogo {
	background-color: rgba(16, 100, 58, 0.322);
	border-radius: 25px;
	width: 150px;
	padding-left: 10px;
	padding-right: 10px;
	/* obv. only for the pc version */
	cursor: pointer;
}

main {
	height: calc(100vh - 110px);
	overflow-y: auto;
	z-index: 1;
}

.center {
	margin: auto;
	width: 50%;
	padding: 10px;
}
.drugData_container{
	margin-top: 1em;
	margin-bottom: 1em;
	padding: 1em;
	border: 1px solid var(--main-border-color);
	background-color: white;
}

.drugData_noticeContainer {
	/* height: 300px; */
	overflow-y: auto;
	border: 1px solid rgb(63, 63, 63);
	padding: 10px;
}
.drugData_noticeTwoLast {
	color: grey;
	font-size: 12px;
	text-align: right;
}

.searchResults_container {
	height: calc(100vh - 110px - 70px);
	overflow-y: auto;
	border: 1px solid rgb(63, 63, 63);
	background-color: white;
}
.searchResults_numberDisplay {
	font-size: 12px;
	color: grey;
}
.searchResults_ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}


.result_title {
	font-size: 15px;
	font-weight: bold;
	margin: 0px;
}
.result_subtitle {
	color: grey;
	font-size: 12px;
	margin: 0px;
}
.result_grayedText{
	color: rgb(172, 172, 172);
}
.result_container {
	border: 1px solid black;
	margin: 0.5em;
}

.drawingBuffer {
	position: absolute;
	top: 0;
	left: 0;
}

#scannerContainer {
	position: relative;
}

.searchBar_container {
	padding: 0;
	height: 2em;
	margin-bottom: 0.5em;
	margin-top: 0.5em;
}

.searchBar_searchSquare {
	margin: 0;
	height: inherit;
	width: 80vw;
	padding-left: 0.6em;
	font-size: 20px;
	border-style: none;
	border: 1px solid rgb(99, 99, 99);
	border-right: none;
	border-top-left-radius: 1em;
	border-bottom-left-radius: 1em;
}
.searchBar_searchIcon {
	height: 1.5em;
	width: 1.5em;
}

.searchBar_searchButton {
	margin: 0;
	height: 2em;
	width: 2.3em;
	border: 1px solid rgb(99, 99, 99);
	border-left: none;
	border-top-right-radius: 1em;
	border-bottom-right-radius: 1em;
	background-color: rgb(207, 206, 206);
	/* center search icon */
	display: flex;
	justify-content: center;
	align-items: center;
}

.searchBar_searchButton:hover {
	background-color: rgb(161, 161, 161);
}

.searchBar_searchButton:active {
	background-color: rgb(236, 235, 235);
}

.footerBar_container {
	height: 100%;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}
.navButton_button {
	background-color: white !important;
	height: auto;
	padding: 0;
	width: calc((90%-5px)/5);
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

.navButton_button img {
	width: 2em;
	height: 2em;
}

.hidden {
	display: none !important;
}

/* SVG spinner icon animation */
/* from https://codepen.io/svnt/pen/qraaRN?editors=1100 */
.spinner {
  -webkit-animation: rotate 1.5s linear infinite;
          animation: rotate 1.5s linear infinite;
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -35px 0 0 -35px;
  width: 70px;
  height: 70px;
}
.spinner .path {
  stroke: #63be91;
  stroke-linecap: round;
  -webkit-animation: dash 1.25s ease-in-out infinite;
          animation: dash 1.25s ease-in-out infinite;
}
@-webkit-keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@-webkit-keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}
@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}

.drug_container {
	border: 1px solid var(--main-border-color);
	background-color: white;
	padding: 1em;
	width: calc(100% - 2em);
	display: inline-block;
	transition-duration: 100ms;
	margin: 1em;
}
.drug_icon {
	margin-right: 0.5em;
}
.drug_icon img{
	max-width: 3em;
	max-height: 3em;
	min-width: 1.5em;
	min-height: 1.5em;
	
}

#drugList_ul {
	list-style-type: none;
}

#drugList_ul>li {
	margin-bottom: 5px;
	margin-top: 5px;
}

/* override link styling in header logo text */

header>a, header>a:active, header>a:hover, header>a:visited {
	color: white;
	text-decoration: none;
}

.drugData_image {
	max-width: 100%;
	max-height: 60vh;
}

div.drugData_firstInfo>div.container>div>div[class*='col'] {
	width: 50%;
}

div.drugData_firstInfo>div.container {
	margin-bottom: 10px;
}

.profileList {
	margin: 2px auto;
	line-height: 1.4;
	padding: 2px;
	padding-left: 0;
	list-style: none;
	display: flex;
}

.field_textInput{
	position: relative;
	background-color: #ffe4cb;
	width: 40%;
	border: 1px solid #feeee0;
	text-align : center;
	color: #363636d3;
}

.profileListItem{
	position: relative;
	text-align: center;
	align-content: center;
	width: 3em;
	height: 0.2em;
	padding: 0em;
	border: 1px solid blue;
}

#profile_container {
	width: 80%;
	height: 23em; 
	text-align: center;
	background-color: rgb(148, 221, 176);
	display: grid;
	justify-content: space-around;
	flex-wrap: wrap;
	border: 1px solid black;
}


.category_container{
	border: 1px solid var(--main-border-color);
	padding: 1em;
	margin: 1em;
	background-color: white;
	transition-duration: 100ms;
}
.category_remove{
	float: right;
	margin-left: 10px;
}

#confirmButton{
	width : 30%;
	margin-top: 20px;	
}

#modifyButton{
	width: 30%;
	margin-top: 10px;
}

.vertical-center{
	margin-top : 30px;
}
/* styling tables (notices) */
table,th,td {
	border: 1px solid black;
	vertical-align: middle;
}
table {
	width: 100%;
}
thead td {
	font-weight: bold;
}
.infoIcon{
	height: 28px;
	width: 28px;
}
.deleteButton{
	height: 2em;
	width: 2em;
	cursor: pointer;
	transition: 200ms linear;
}
.deleteButton:hover {
	transform: scale(1.1);
	animation-name: wiggle;
	animation-duration: 500ms;
	animation-iteration-count: 1;
	animation-timing-function: ease-in-out;
}
@keyframes wiggle {
	25% { transform: rotate(45deg); }
	25% { transform: rotate3d(1, 1, 1, 45deg); }
	50% { transform: rotate(-25deg); }
}

/* swal2 custom classes */
.btn-swal-left {
	margin-right: 1em;
	width: 40%;
}
.btn-swal-right {
	margin-left: 1em;
	width: 40%;
}
.swal-buttonsContainer {
	width: 100%;
}
.profileElement{
	margin-bottom: 0.3em;
}