body {
	margin: 0px;
	font-family: sans-serif;
}

* {
	box-sizing: border-box;
}

header{
	height: 50px;
	width: 100%;
	font-size: 28px;
	color: white;
	background-color: rgb(103, 192, 143);
	z-index: 2;
	padding: 10px;
	border-bottom: 1px solid rgb(36, 124, 83);
	/* vertically center items contained in the header (logo) */
	display: flex;
	align-items: center;
}
footer{
	height: 60px;
	width: 100%;
	background-color: rgb(103, 192, 143);
	z-index: 2;
	padding: 10px;
	border-top: 1px solid rgb(36, 124, 83);
}
#body_headerLogo{
	background-color: rgba(16, 100, 58, 0.322);
	padding-left: 5px;
	padding-right: 5px;
	border: 2px solid white;
	border-radius: 18px;
	/* obv. only for the pc version */
	cursor: pointer;
}
.body_content{
	height: calc(100vh - 110px);
	overflow-y: auto;
	padding: 10px;
	z-index: 1;
}

.drugData_noticeContainer{
	/* height: 300px; */
	overflow-y: auto;
	border: 1px solid rgb(63, 63, 63);
	padding: 10px;
}

.drugData_noticeTwoLast{
	color: grey;
	font-size: 12px;
	text-align: right;
}

.searchResults_container{
	height: 300px;
	overflow-y: auto;
	border: 1px solid rgb(63, 63, 63);
}
.searchResults_numberDisplay{
	font-size: 12px;
	color: grey;
}
.result_title{
	font-size: 15px;
	font-weight: bold;
	margin: 0px;
}
.result_subtitle{
	color: grey;
	font-size: 12px;
	margin: 0px;
}
.result_container{
	border: 1px solid black;
	margin: 3px;
	position: relative;
}
.result_li{
	list-style-type: none;
}
.result_buttonsContainer{
	position: absolute;
	right: 5px;
	top: 10%;
}
.drawingBuffer {
	position: absolute;
	top: 0;
	left: 0;
}
#scannerContainer {
	position : relative;
}
#searchBar_searchSquare{
	width: 400px;
	height: 30px;
	border-radius: 15px;
	font-size: 20px;
	margin-bottom: 10px;
}
.footerBar_container{
	height: 100%;
	width: calc(5 * (90px + 20px));
	display: flex;
	align-items: center;
    justify-content: space-between;
	margin-left: auto;
	margin-right: auto;
}

.navButton_button{
	line-height: 40px;
	text-align: center;
	color: white;
	font-size: 16px;
	padding: 0;
	border: 1px solid rgb(24, 78, 53);
	height: 40px;
	width: 90px;
	background-color: rgb(36, 124, 83);
	flex: 0 1 auto; /* Default */
	/* add a transition effect between normal and hover colors */
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
}

.navButton_button:hover{
	color: white;
	border: 1px solid rgb(34, 112, 76);
	background-color: rgb(51, 155, 107);
}

.navButton_button:active{
	color: rgb(182, 182, 182);
	border: 1px solid rgb(220, 255, 238);
	background-color: rgb(147, 243, 198);
}
.hidden{
	display: none;
}
