body {
	margin: 0px;
	font-family: sans-serif;
	background-color: rgba(236, 236, 236, 0.692)
}

* {
	box-sizing: border-box;
}

h1 {
	font-size: 18px;
	font-weight: bold;
}

h2 {
	font-size: 16px;
	font-weight: bold;
}

header {
	height: 50px;
	width: 100%;
	font-size: 28px;
	color: white;
	background-color: #5abb85;
	z-index: 2;
	padding: 10px;
	border-bottom: 1px solid #4ca876;
	/* vertically center items contained in the header (logo) */
	display: flex;
	align-items: center;
}

footer {
	height: 60px;
	width: 100%;
	background-color: #5abb85;
	z-index: 2;
	padding: 10px;
	border-top: 1px solid #4ca876;
}

#body_headerLogo {
	background-color: rgba(16, 100, 58, 0.322);
	border-radius: 25px;
	width: 150px;
	padding-left: 10px;
	padding-right: 10px;
	/* obv. only for the pc version */
	cursor: pointer;
}

main {
	height: calc(100vh - 110px);
	overflow-y: auto;
	z-index: 1;
}

.center {
	margin: auto;
	width: 50%;
	padding: 10px;
}
.drugData_container{
	margin-top: 1em;
	margin-bottom: 1em;
	padding: 1em;
	border: 1px solid #4ca876;
	background-color: white;
}

.drugData_noticeContainer {
	/* height: 300px; */
	overflow-y: auto;
	border: 1px solid rgb(63, 63, 63);
	padding: 10px;
}
.drugData_noticeTwoLast {
	color: grey;
	font-size: 12px;
	text-align: right;
}

.searchResults_container {
	height: calc(100vh - 110px - 70px);
	overflow-y: auto;
	border: 1px solid rgb(63, 63, 63);
	background-color: white;
}
.searchResults_numberDisplay {
	font-size: 12px;
	color: grey;
}
.searchResults_ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}


.result_title {
	font-size: 15px;
	font-weight: bold;
	margin: 0px;
}
.result_subtitle {
	color: grey;
	font-size: 12px;
	margin: 0px;
}
.result_grayedText{
	color: rgb(172, 172, 172);
}
.result_container {
	border: 1px solid black;
	margin: 0.5em;
}

.drawingBuffer {
	position: absolute;
	top: 0;
	left: 0;
}

#scannerContainer {
	position: relative;
}

.searchBar_container {
	padding: 0;
	height: 2em;
	margin-bottom: 0.5em;
	margin-top: 0.5em;
}

.searchBar_searchSquare {
	margin: 0;
	height: inherit;
	width: 80vw;
	padding-left: 0.6em;
	font-size: 20px;
	border-style: none;
	border: 1px solid rgb(99, 99, 99);
	border-right: none;
	border-top-left-radius: 1em;
	border-bottom-left-radius: 1em;
}
.searchBar_searchIcon {
	height: 1.5em;
	width: 1.5em;
}

.searchBar_searchButton {
	margin: 0;
	height: 2em;
	width: 2.3em;
	border: 1px solid rgb(99, 99, 99);
	border-left: none;
	border-top-right-radius: 1em;
	border-bottom-right-radius: 1em;
	background-color: rgb(207, 206, 206);
	/* center search icon */
	display: flex;
	justify-content: center;
	align-items: center;
}

.searchBar_searchButton:hover {
	background-color: rgb(161, 161, 161);
}

.searchBar_searchButton:active {
	background-color: rgb(236, 235, 235);
}

.footerBar_container {
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-left: auto;
	margin-right: auto;
}

#footerBar_container .btn {
	width: calc(20vw - 10px);
	flex: 0 1 auto;
	/* Default */
	/* add a transition effect between normal and hover colors */
	transition-duration: 0.1s;
	background-color: rgb(41, 122, 89);
	border: 1px solid rgb(41, 122, 89);
}

#footerBar_container .btn:active {
	background-color: rgb(31, 99, 72);
	border: 1px solid rgb(31, 99, 72);
}

.hidden {
	display: none;
}

#loadingWheel {
	/* put it in the middle of the screen */
	position: absolute;
	top: calc(50vh - 40px);
	/* value in px is half of the image height */
	left: calc(50vw - 40px);
	/* value in px is half of the image width */
}

.drug_container {
	border: 1px solid #4ca876;
	background-color: white;
	padding: 1em;
	width: 70vw;
	display: inline-block;
	transition-duration: 0.1s;
}

.drug_container:hover {
	background-color: rgb(212, 212, 212);
}

#drugList_ul {
	list-style-type: none;
}

#drugList_ul>li {
	margin-bottom: 5px;
	margin-top: 5px;
}

/* override link styling in header logo text */

header>a, header>a:active, header>a:hover, header>a:visited {
	color: white;
	text-decoration: none;
}

.drugData_image {
	max-width: 100%;
	max-height: 60vh;
}

div.drugData_firstInfo>div.container>div>div[class*='col'] {
	width: 50%;
}

div.drugData_firstInfo>div.container {
	margin-bottom: 10px;
}

.profileList {
	margin: 2px auto;
	line-height: 1.4;
	padding: 10px;
	padding-left: 0;
	list-style: none;
}

.field_textInput{
	position: relative;
	background-color: #ffe4cb;
	padding: 17px;
	width: 40%;
	border: 1px solid #feeee0;
	text-align : center;
	color: #363636d3;
}

.profileListItem{
	text-align: center;
	width: 100%;
	padding: 10px;
}

#profile_container {
	width: 60%;
	text-align: center;
	background-color: rgb(148, 221, 176)
}

.profileElement {
	background-color: #d7f0c3;
	height: 50px;
}

.category_container{
	border: 1px solid #4ca876;
	padding: 1em;
	margin: 1em;
	background-color: white;
	transition-duration: 0.1s;
}
.category_container:hover{
	background-color: rgb(212, 212, 212);
}

#confirmButton{
	width : 30%;
	margin-top: 20px;	
}

#modifyButton{
	width: 30%;
	margin-top: 20px;
}

.vertical-center{
	margin-top : 30px;
}
/* styling tables (notices) */
.drugData_noticeContainer table,th, td {
  border: 1px solid black;
}
.drugData_noticeContainer table {
	width: 100%;
}
.drugData_noticeContainer thead td {
	font-weight: bold;
}